@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Klik hierboven op de link Vestiging om de lijst met vestigen te zien en de CRUD operations te testen.</p>
</div>
